button {
      display: flex;
      float: inline-start;
      gap: 0.5rem;
      padding: 0.5rem 1rem;
      margin: 0.2em;
      cursor: pointer;
      color: white !important;
      border-radius: 15px;
}