mat-card {
  max-width: 16vw;
  max-height: 30vh;
  margin-left: 2em;
  margin-top: 1em;
  background-color: var(--mat-sys-on-surface);
}

mat-card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--mat-sys-on-primary);
  color: var(--mat-sys-on-surface);
}
button {
  margin: 1em;
  background-color: var(--mat-sys-on-primary);
  color: white !important;
}
//black text
h1,p {
  color: var(--mat-sys-surface);
}